 header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  margin: 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #4ed713;
}
.navbar-brand{
  color: #4ed713;
}
.navbar-brand:hover {

  color: #bcc6b8;
}